
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Styling Begins here */

*, ::before, ::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}

/* NAV STYLING */
nav{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.1);
}
/* 
.dark{
    background: black;
    color: #ECF0F1;

} */

#navWrapper{
    font-size: 1rem;
    height: 100%;
    width: 75vw;
    padding: 10px 20px;
    /* background-color: darkslategrey; */
    display: flex;
    align-items: center;
}

#navLogo a{
    color: #ECF0F1;
    font-size: large;
    font-weight: 500;
    height: 3vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navSpacing{
    flex-grow: 1;
}

#navSection{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navSectionLinks{
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    height: 3.5vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.navContact{
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    background: #D35400;
    color: #fff;
    height: 3.5vh;
    padding: 0 10px;
    transition: 300ms;
    display: flex;
    align-items: center;
}

.navContact:hover{
    background: #ECF0F1;
    color: #D35400;
}

.navSectionLinks:hover {
    color: black;
}

.navActive{
    position: relative;
    background: #ECF0F1;
    color: #2C3E50;
    transition: 500ms;
    /* font-weight: 600; */
}

.navActive::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2C3E50;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.scrollTop{
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 75px;
    width: 100px;
    height: 80px;
    border-radius: 30px;
    transition: 250ms;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollTop:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}

/* Page Section Divider */

.pageSection{
    position: relative;
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 600;
    width: 100%;
    height: 120px;
    color: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageSection::after{
    content: "";
    position: absolute;
    right:0;
    height: 20%;
    width: 300px;
    transition: 150ms;
    background-color: #2C3E50;
    /* border-bottom: solid 10px #ECF0F1; */
}
.pageSection::before{
    content: "";
    position: absolute;
    left:0;
    height: 20%;
    width: 300px;
    transition: 150ms;
    background-color: #fff;
    /* border-bottom: solid 10px #ECF0F1; */
}


.pageSection:nth-of-type(1){
    background: #16A085;
}
.pageSection:nth-of-type(2){
    background: #27AE60;
    
}.pageSection:nth-of-type(3){
    background: #2C3E50;
    color: #ECF0F1;
    height: 30px;
    font-size: larger;
}
/* Home Page Styling */

#home{
    font-family: 'Raleway';
    color: #ECF0F1;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: bottom;
}


#homeTextWrapper{
    border-radius: 50px;
    background-image: url(img/flatstuff.png);
    background-size: cover;
    background-position: top;
    height: 70vh;
    padding-left: 75px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 30000ms;

    
}

#home:hover #homeTextWrapper{
    
    background-position: center;
}


#homeTextWrapper>h1{
    font-family:'Fredoka One';
    color: #34495E;
    font-size: 7rem;
    font-weight: 100;
    margin-bottom: 50px;
}
#homeTextWrapper>div{
    font-size: 3rem;
    color: #2C3E50;
}


#homeTextWrapper>div:first-of-type{
    padding-left: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}


#homeImageWrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
}


#homeImageWrapper:hover:before{
    left:30px;
}

#homeImageWrapper::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:-30px;
    border: solid #CACEEA 15px;
    border-radius: 50%;
    transition: 300ms;
}

#homeImage{
    height: 70vh;
    width: 30vw;
    background-image: url(img/self.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 50%;
}


#homeButtons{
    height: 10vh;
    width: 80%;
    margin-top: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.homebtn{
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    background: #B7DCE5;
    border-radius: 16px;
    color: #2C3E50;
    width: 200px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.homebtn::before{
    content: ">";
    position: absolute;
    top:8px;
    opacity: 0;
    right: 15px;
    transition: 200ms;
}

.homebtn:hover::before{
    opacity: 1;
}

.homebtn:hover{
    padding-right: 25px;
    background-color: #CACEEA;
}

/* My Hobbies Page Styling */

#hobbies{
    min-height: 100vh;
    font-family: 'Poppins';
    background-image: url(img/hobbiesbg.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0;
    ;

}

.hobbiesCard{
    position: relative;
    background: white;
    width: 33.34vw;
    height: 40vh;
    box-shadow: inset 5px 5px 10px 5px rgba(0,0,0,0.05);
    border-radius: 15px;

}

.hobbiesBox{
    position: absolute;
    top: 30px;
    right: 30px;
    bottom:30px;
    left: 30px;
    background: #ECF0F1;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;

}

.hobbiesContent{
    padding: 20px;
    text-align: center;

}

.hobbiesContent h2{
    font-size: 4em;
    position: absolute;
    top:-10px;
    right: 30px;
    color: rgba(230, 126, 34, 0.7);
    transition: 250ms;
}

.hobbieContent p{
    font-size: 1em;
}

.hobbiesBox:hover h2{
    color: #ECF0F1;
    font-size: 5em;
    
}

.hobbiesBox:hover {
    background-color: #E67E22;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    transform: translateY(-10px);
}


.hobbiesBox:hover p{
    color: #ECF0F1;
    font-weight: 500;
    font-size: 1.05em;
}

/* Skills Page Styling */

#skills{
    min-height: 100vh;
    background-image: url(img/skillsbg.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

#skillsContainer{
    background: white;
    height: 70vh;
    width: 70%;
    padding: 55px;
    box-shadow: inset 10px 10px 15px rgba(0,0,0,0.2);
}

#skillsBox{
    /* background-color: #27AE60; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    padding: 20px;
    padding-top: 0;
}

.skillBox h1{
    margin-left: 25px;
    text-shadow: 5px 3px 8px rgba(0,0,0,0.5);
}

#skillsBox>div{
    /* height: 5vh; */
    display: flex;
    align-items: center;
}

.skill{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    border-radius: 16px;
    transition:500ms;
}


.skill:hover{
    z-index:10;
    transform: scale(1.02);
}


.skillsLang{
    font-size: larger;
    font-weight: 600;
    width: 100%;
}

.skillsBarContainer{
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.skillsBar{
    background-color: #3498DB;
    color: #2C3E50;
    padding-right: 15px;
    font-size: larger;
    font-weight: 800;
    border-radius: 20px;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transition: 500ms;
}

.html{
    width: 80%;
}

#html:hover .html{
    animation: htmlskill 1500ms ;
}

@keyframes htmlskill {
    0% { width: 80%;}
    15% {background-color: white;
        width: 10%;}
    100% {width: 80%;}
  }


.css{
    width: 70%;
}
#css:hover .css{
    animation: cssskill 1500ms ;
}

@keyframes cssskill {
    0% {width: 70%;}
    15% {background-color: white;
        width: 10%;}
    100% {width: 70%;}
  }

.js{
    width: 40%;
}
#js:hover .js{
    animation: jsskill 1500ms ;
}

@keyframes jsskill {
    0% {width: 40%;}
    15% {background-color: white;
        width: 10%;}
    100% {width: 40%;}
  }

.cpp{
    width: 60%;
}

#cpp:hover .cpp{
    animation: cppskill 1500ms ;
}

@keyframes cppskill {
    0% {width: 60%;}
    15% {background-color: white;
        width: 10%;}
    100% {width: 60%;}
  }


  /* Footer styling */

  footer{
    height: 25vh;
    width: 100%;
    background: #2C3E50;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .footerSections{
      font-family: 'Montserrat';
      font-size: larger;
      font-weight: 500;
      height: 80%;
      width: 20%;
      background: rgba(255, 255, 255, 0.02);
      color: #ECF0F1;
      /* background-color: #3498DB; */
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    
    .footerSections:hover{
        /* background: rgba(255, 255, 255, 0.3);a */
        
  }

  .footerSections a{
    color: #ECF0F1;
    opacity: 1;
  }

  .footerSections a:hover{
      text-decoration: underline;
  }

  .footerSections h2{
      font-weight: 300;
  }